$primary: #42a7fe;
$secondary: #00c899;
$warning: #fd9c84;
$danger: #fc556f;
$gradient: linear-gradient(to right, $warning, $danger);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin minWidth($value) {
  @media screen and (min-width: $value) {
    @content;
  }
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

.file {
  &__input {
    display: none;
  }
  @include size(3rem);
  border-radius: 1rem;
  border: 1px solid $danger;
  background-color: rgba($warning, 0.5);
  position: relative;
  color: #fff;
  &__label {
    @include flexbox(center, center);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 2;
  }
}

@include maxWidth(767px) {
}

@include minWidth(768px) {
}

@media screen and (min-width: 1024) {
}

@media screen and (min-width: 1280) {
}

// 320 480 768 1024 1280 1366 1440 1600 1920
