$primary: #42a7fe;
$secondary: #00c899;
$warning: #fd9c84;
$danger: #fc556f;
$redFA4: #fa4c53;
$dark: #291667;

$gradient: linear-gradient(to right, $warning, $danger);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin minWidth($value) {
  @media screen and (min-width: $value) {
    @content;
  }
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

div,
input {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  background-color: #fbfbfd;
  padding: 5rem;
  min-height: 100vh;
}

body,
input,
select,
textarea,
label {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

@include maxWidth(1439px) {
}

@include maxWidth(1279px) {
}
