.font {
  /* khoàng cách giữa chữ ở trên và ở dưới cách xa nhau ko bị dính vào */
  line-height: 1.5;
  /* thuộc tính canh đều 2 bên */
  text-align: justify;
  /* khoảng cách giữa các ký tự giãn ra */
  letter-spacing: 1px;
  /* khoảng cách giữa các kỹ tự  */
  word-spacing: 2px;

  /* Hiển thị dấu 3 chấm trên 1 hàng */
  /* Thông tin luôn ở trên 1 hàng */
  white-space: nowrap;
  /* Nếu tràn ra ngoài sẽ bị ẩn đi */
  overflow: hidden;
  /* Hiển thị dấu 3 chấm */
  text-overflow: ellipsis;

  /* Hiển thị dấu 3 chấm ở hàng thứ 3 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
