.font {
  /* khoàng cách giữa chữ ở trên và ở dưới cách xa nhau ko bị dính vào */
  line-height: 1.5;
  /* thuộc tính canh đều 2 bên */
  text-align: justify;
  /* khoảng cách giữa các ký tự giãn ra */
  letter-spacing: 1px;
  /* khoảng cách giữa các kỹ tự  */
  word-spacing: 2px;

  /* Thông tin luôn ở trên 1 hàng */
  white-space: nowrap;
}
