.group-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.button {
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}

.button--green {
}
