.group-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  background: #000;
  color: white;
  font-size: 1.2rem;
  padding: 10px 50px;
  border-radius: 0.4rem;
  font-weight: 500;
}

.button--green {
  background-image: linear-gradient(to right bottom, #00ed63, #85cfa4);
}

.button--blue {
  background-image: linear-gradient(to right bottom, #00ed63, #85cfa4);
}

.button--purple {
  background-image: linear-gradient(
    to right bottom,
    rgb(103, 235, 173),
    rgb(82, 208, 196)
  );
}

.button--orange {
  background-image: linear-gradient(
    to right bottom,
    rgb(172, 228, 255),
    rgb(117, 183, 238)
  );
}

.button--red {
  background-image: linear-gradient(
    to right bottom,
    rgb(254, 191, 172),
    rgb(237, 116, 115)
  );
}

.button--pink {
  background-image: linear-gradient(
    to top right,
    rgb(254, 160, 177),
    rgb(244, 130, 154)
  );
}
