$primary: #42a7fe;
$secondary: #00c899;
$warning: #fd9c84;
$danger: #fc556f;
$gradient: linear-gradient(to right, $warning, $danger);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin minWidth($value) {
  @media screen and (min-width: $value) {
    @content;
  }
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

.radio {
  margin: 5rem;
  &__input {
    display: none;
    &:checked + .radio__label:before {
      background-color: #fc556f;
      box-shadow: 0 0 0 5px #fff, 0 0 0 6px #fc556f;
    }
  }
  &__label {
    position: relative;
    padding-left: 5rem;
    &::before {
      content: "";
      @include size(2.5rem);
      border-radius: 3rem;
      background-color: #eff1f5;
      box-shadow: 0 0 0 5px #eff1f5, 0 0 0 6px #b7c1cb;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.25s ease;
    }
  }
}

@include maxWidth(767px) {
}

@include minWidth(768px) {
}

@media screen and (min-width: 1024) {
}

@media screen and (min-width: 1280) {
}

// 320 480 768 1024 1280 1366 1440 1600 1920
