$primary: #42a7fe;
$secondary: #00c899;
$warning: #fd9c84;
$warningv2: #f7c539;
$danger: #fc556f;
$redFA4: #fa4c53;
$dark: #291667;
$darkcore: #131933;
$gray8c9: #8c94a7;

$gradient: linear-gradient(to right, $warning, $danger);

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($value) {
  @media screen and (max-width: $value) {
    @content;
  }
}

@mixin minWidth($value) {
  @media screen and (min-width: $value) {
    @content;
  }
}

@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}

@mixin responsiveMedia($x, $y) {
  $bottom: unquote(($y/$x) * 100+ "%");
  padding-bottom: $bottom;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  background-color: rgba($color: $darkcore, $alpha: 0.005);
}

input,
select,
textarea,
label {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-checkbox {
  @include flexbox(center);
  margin: 25px auto;
  width: max-content;
  &-input {
    display: none;
    &:checked + .custom-checkbox-box {
      background-color: $dark;
      .custom-checkbox-icon {
        color: $danger;
      }
    }
  }
  &-box {
    @include size(40px);
    border: 1px solid #eee;
    border-radius: 4px;
    @include flexbox(center, center);
    transition: all 0.25s linear;
  }
  &-icon {
    transition: all 0.25s linear;
  }
  &-label {
    cursor: pointer;
  }
}

@include maxWidth(1439px) {
}

@include maxWidth(1279px) {
}

@include maxWidth(1223px) {
}

@include maxWidth(767px) {
}
